<!DOCTYPE html>
<html lang="en">

  <head>

   
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Restaurant indien</span>
        <span class="site-heading-lower">Shiva</span>
      </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">Réservation</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products">Menu</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store">Horaire</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Venez nombreux!</span>
                <span class="section-heading-lower">Nous sommes ouvert!</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dimanche
                  <span class="ml-auto">Fermé</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Lundi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Mardi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Mercredi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Jeudi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Vendredi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Samedi
                  <span class="ml-auto">11:00 AM to 9:00 PM</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>75000 Paris Street</strong>
                  <br>
                  Paris Centre, France
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Téléphone</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    

    

  </body>

  

</html>
