<app-headeremp></app-headeremp>
<br><br>
<div class="text-center">
    <div class="container color">
        <table class="table table-striped">
            <thead class="table-secondary">
                <th>IdReservation</th>
                <th>Client</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Tables</th>
                <th>Nombre de personne</th>
                <th>Commande</th>
                <th>Suppression</th>
            </thead>
            <tbody>
                <tr class="color" *ngFor="let reservation of listReservation">
                    <td>{{reservation.idReservation}}</td>
                    <td>{{reservation?.client?.nom}}</td>
                    <td>{{reservation.dateDebut}}</td>
                    <td>{{reservation.dateFin}}</td>
                    <td>{{reservation?.tables?.idTables}}</td>
                    <td>{{reservation?.nbrepersonne}}</td>
                   
                    <td><a type="button" class="btn btn-outline-warning" href="commandeplat">Passer une commande</a></td>
                    <td><button type="button" class="btn btn-outline-danger"
                            (click)="delete(reservation.idReservation)">Supprimer</button></td>



                </tr>

            </tbody>
        </table>
    </div>
</div>
