<!DOCTYPE html>
<html lang="en">

<head>

 

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Restaurant indien</span>
        <span class="site-heading-lower">Shiva</span>
      </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about">Réservation</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products">Menu</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store">Horaire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../assets/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <div class="section" data-aos="fade-up">
                <div class="container">
                  <div class="row justify-content-center mb-5">
                    <div class="col-md-8  text-center">
                      <h2 class="mb-3">Réservation</h2>
                      <p class="lead">Merci de renseigner les informations suivantes.</p>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-10 p-5 form-wrap">
                      <form action="#">
                        <div class="row mb-4">
                          <div class="form-group col-md-5">
                            <label for="name" class="label">Nom</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-android-person"></span>
                              <input type="text" class="form-control" id="name">
                            </div>
                          </div>
                          <div class="form-group col-md-5">
                            <label for="prenom" class="label">Prénom</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-android-person"></span>
                              <input type="text" class="form-control" id="prenom">
                            </div>
                          </div>
                          <div class="form-group col-md-5">
                            <label for="email" class="label">Email</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-email"></span>
                              <input type="email" class="form-control" id="email">
                            </div>
                          </div>
      
                          <div class="form-group col-md-5">
                            <label for="persons" class="label">Nombre de personne</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-android-arrow-dropdown"></span>
                              <select name="persons" id="persons" class="form-control">
                                <option value="">1 personne</option>
                                <option value="">2 personnes</option>
                                <option value="">3 personnes</option>
                                <option value="">4 personnes</option>
                                <option value="">5+ personnes</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group col-md-5">
                            <label for="date" class="label">Date</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-calendar"></span>
                              <input type="text" class="form-control" id="date">
                            </div>
                          </div>
                          <div class="form-group col-md-5">
                            <label for="time" class="label">Heure</label>
                            <div class="form-field-icon-wrap">
                              <span class="icon ion-android-time"></span>
                              <input type="text" class="form-control" id="time">
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Réserver">
                            <!-- <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p> -->
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> <!-- .section -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  
 

</body>

</html>
