<app-headeremp></app-headeremp>
<br><br>
<body>
    <form>
        <div class="text-center">
        <div class="container color">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="commande">Numéro de la commande</label>
                    <input [(ngModel)]="newCommande.numcommande" type="text" name="commande" class="form-control" id="commande">
                </div>
                <div class="form-group col-md-4">
                    <label for="affectationtable">Tables</label>
                    <select class="form-control" name="tables" id="tables" [(ngModel)]="newCommande.tables">
                        <option *ngFor="let tables of listTables" [ngValue]="tables">{{tables.idTables}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="affectationresa">Reservation</label>
                    <select class="form-control" name="reservation" id="reservation" [(ngModel)]="newCommande.reservation">
                        <option *ngFor="let reservation of listResa" [ngValue]="reservation">{{reservation.idReservation}}
                        </option>
                    </select>
                </div>

            </div>

            <td><button type="button" class="btn btn-outline-info" (click)="addCommande()">Nouvelle commande</button></td>


        </div>
        </div>
    </form>

</body>