<app-headeremp></app-headeremp>
<div class="form-group col-md-2">
    <div class="container ">
        <table class="table table-striped">
            <thead class="table-secondary">
                <th>IdUser</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Tables</th>
                <th></th>
                <th>Modifier</th>
                <th>Suppression</th>

            </thead>
            <tbody>
                <tr class="color" *ngFor="let user of listUser">
                    <td>{{user.idUser}}</td>
                    <td>{{user.nom}}</td>
                    <td>{{user.prenom}}</td>
                    <td>{{user.email}}</td>
                    <td><a type="button" class="btn btn-outline-warning" href="#">ses tables</a></td>
                    <td><a type="button" class="btn btn-outline-warning" href="#">Modifier</a></td>
                    <td><button type="button" class="btn btn-outline-danger"
                            (click)="delete(user.idUser)">Supprimer</button></td>



                </tr>

            </tbody>
        </table>
    </div>
</div>