<app-headeremp></app-headeremp>
<div class="form-group col-md-2">
    <div class="container color">
        <table class="table table-striped">
            <thead class="table-secondary">
                <th>Commande</th>
                <th>Tables</th>
                
                <th>Modifier</th>
                <th>Suppression</th>

            </thead>
            <tbody>
                <tr class="color" *ngFor="let commande of listCommande">
                    <td>{{commande.idCommande}}</td>
                    <td>{{commande?.tables?.idTables}}</td>
                    
                    
                    <td><a type="button" class="btn btn-outline-warning" href="#">Modifier</a></td>
                    <td><button type="button" class="btn btn-outline-danger"
                            (click)="delete(commande.idCommande)">Supprimer</button></td>



                </tr>

            </tbody>
        </table>
    </div>
</div>
