<!DOCTYPE html>
<html lang="en">

<head>

 
</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Restaurant indien</span>
    <span class="site-heading-lower">Shiva</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about">Réservation</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products">Menu</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store">Horaires d'ouverture</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../assets/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Cuisine indienne</span>
            <span class="section-heading-lower">Epices du monde</span>
          </h2>
          <p class="mb-3">De nombreux plats épicés venant du monde entier pour agrémenter nos recettes indiennes. 
            <br>
            Fête des papilles garantie!!!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="menu">Venez vite!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Notre promesse</span>
              <span class="section-heading-lower">Pour vous</span>
            </h2>
            <p class="mb-0">Venez découvrir de nouvelles saveurs à travers nos délicieux plats. 
              <br>
              Tous ces parfums vous ferons voyager en Inde à chaque bouchée.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-2 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1 color">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4 police ">Restaurant Shiva</h5>
          <p class="police">Restaurant familial tenu depuis plusieurs générations avec un savoir faire unique.</p>
          <p class="police">Chaque recette à son histoire, transmise par ses saveurs.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-1 mx-auto my-md-4 my-0 mt-4 mb-1 color">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4 police">Compte</h5>
  
          <ul class="list-unstyled police">
            <li>
              <p>
                <a class="couleur" href="user">Connexion</a>
              </p>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1 color">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4 police">Adresse</h5>
  
          <ul class="list-unstyled police">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i>Paris, P 75000, FR</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> shiva@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-6 text-center mx-auto my-4">
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p class="m-0 small">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- Copyright -->
  
  </footer>
 

 

</body>

</html>

