<app-headeremp></app-headeremp>
<div class="form-group col-md-4">
    <div class="container ">
        <table class="table table-striped">
            <thead class="table-secondary">
                <th>Table</th>
                <th>Nombre de place</th>
                <th>Employé</th>
                
                <th>Modifier</th>
                <th>Suppression</th>

            </thead>
            <tbody>
                <tr class="color" *ngFor="let tables of listTables">
                    <td>{{tables.idTables}}</td>
                    <td>{{tables.nbreplace}}</td>
                    <td>{{tables?.user?.idUser}}</td>
                   
                    <td><a type="button" class="btn btn-outline-warning" href="#">Modifier</a></td>
                    <td><button type="button" class="btn btn-outline-danger"
                            (click)="delete(user.idUser)">Supprimer</button></td>



                </tr>

            </tbody>
        </table>
    </div>
</div>
